/**** CUSTOM *****/

.content img {
    max-height: 500px;
}

/**** CLASSES ****/

@media only screen and (min-width : 576px) {
    .content .left {
        float: left;
        margin: 0 25px 25px 0;
    }

    .content .right {
        float: right;
        margin: 0 0 25px 25px;
    }

    .content .center {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.content .fullwidth img {
    max-height: unset;
    width: 100%;
}

body.colorscheme-dark .content .background img {
    background-color: #dadada;
    padding: 10px;
}

.container-video > iframe {
    width: 100%;
    height: 500px;
}

.container-pdf > object {
    width: 100%;
    height: 640px;    
}

@media only screen and (max-width : 768px) {
    .container-pdf > object {
        height: 550px;    
    }
}

@media only screen and (max-width : 576px) {
    .container-video > iframe {
        height: 300px;
    }
    
    .container-pdf > object {
        height: 300px;    
    }
}

/**** COLORS ****/

/* $raisin-black: rgba(33, 33, 33, 1);
$tickle-me-pink: rgba(251, 119, 175, 1);
$verdigris: rgba(90, 177, 187, 1);
$pistachio: rgba(165, 200, 130, 1);
$mellow-yellow: rgba(247, 221, 114, 1); */

body.colorscheme-dark .navigation a.navigation-title {
    color: #5ab1bb;
}
body.colorscheme-dark .navigation a.navigation-title:hover,
body.colorscheme-dark .navigation a.navigation-title:focus {
    color: #fb77af;
}

body.colorscheme-dark .navigation a:hover:not(.navigation-title),
body.colorscheme-dark .navigation a:focus:not(.navigation-title) {
    color: #5ab1bb;
}

@media only screen and (max-width : 768px) {
    body.colorscheme-dark .navigation .menu-button:hover,
    body.colorscheme-dark .navigation .menu-button:focus {
        color: #5ab1bb;
    }
}

body.colorscheme-dark a {
    color: #5ab1bb;
}
body.colorscheme-dark a:hover,
body.colorscheme-dark a:focus {
    color: #fb77af;
}

body.colorscheme-dark .list ul li .title {
    color: #5ab1bb !important;
}
body.colorscheme-dark .list ul li .title:hover,
body.colorscheme-dark .list ul li .title:focus {
    color: #fb77af !important;
}

body.colorscheme-dark .centered .about ul li a:hover,
body.colorscheme-dark .centered .about ul li a:focus {
    color: #5ab1bb !important;
}

body.colorscheme-dark .footer a {
    color: #5ab1bb;
}
body.colorscheme-dark .footer a:hover,
body.colorscheme-dark .footer a:focus {
    color: #fb77af;
}

/***** 404 *****/

.fourzerofour {
    width: 100%;
}

.fourzerofour .error {
    max-width: 768px;
}

.fourzerofour main,
.fourzerofour footer {
    font-size: 2rem;
}

.fourzerofour main {
    text-align: left;
}

.fourzerofour .error h1,
.fourzerofour .error h2,
.fourzerofour .error h3,
.fourzerofour .error h4,
.fourzerofour .error h5,
.fourzerofour .error h6 {
    padding: 8px 16px 1px 28px;
}

.fourzerofour .error ul {
    list-style: none;
    padding-left: 40px;
}

.fourzerofour .error li:before {
    content: '*';
    margin-left: -40px;
    margin-right: 30px;
}

.fourzerofour .error a {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

@media only screen and (max-width : 576px) {
    .error {
        padding: 0 20px;
    }
}

.fourzerofour .blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  30% { opacity: 0 }
}

@-moz-keyframes blink {
  30% { opacity: 0 }
}

@-o-keyframes blink {
  30% { opacity: 0 }
}

@keyframes blink {
  30% { opacity: 0 }
}

/***** 404 COLORS & FONTS *****/

.fourzerofour {
    background-color: #1030b7;
}

.fourzerofour .error h2,
.fourzerofour .error h3,
.fourzerofour .error h4,
.fourzerofour .error h5,
.fourzerofour .error h6,
.fourzerofour .error p,
.fourzerofour .error ul,
.fourzerofour .error li,
.fourzerofour .error a {
    color: #b7b7b7;
}

.fourzerofour .error h1 {
    color: #1030b7;
    background-color: #b7b7b7;
}

.fourzerofour .error a {
    border-bottom: 1px dotted #b7b7b7;
}

.fourzerofour .error a:focus,
.fourzerofour .error a:hover {
    color: #1030b7;
    background-color: #b7b7b7;
}

.fourzerofour .error h1,
.fourzerofour .error h2,
.fourzerofour .error h3,
.fourzerofour .error h4,
.fourzerofour .error h5,
.fourzerofour .error h6,
.fourzerofour .error p,
.fourzerofour .error ul,
.fourzerofour .error li {
    font-family: 'More Perfect DOS VGA', monospace;
}