<style scoped>
    @font-face {
        font-family: 'More Perfect DOS VGA';
        src: url('../fonts/MorePerfectDOSVGA.eot'); /* IE9+ Compat Modes */
        src: url('../fonts/MorePerfectDOSVGA.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/MorePerfectDOSVGA.woff2') format('woff2'), /* Super modern browsers */
            url('../fonts/MorePerfectDOSVGA.woff') format('woff'), /* Modern browsers */
            url('../fonts/MorePerfectDOSVGA.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../fonts/MorePerfectDOSVGA.svg#FontName') format('svg'); /* Legacy iOS */
    }
</style>
<section class="centered fourzerofour">
    <div class="error">
        <header>
            <h2>(┛ಠ_ಠ)┛彡┻━┻</h2>
            <h1>404: {{ i18n "page_not_found" | upper }}</h1>
        </header>
        <main>
            <p>{{ i18n "error_par" }}</p>
            <ul>
                <li>{{ i18n "error_bullet_1" .Site.BaseURL | safeHTML }}</li>
                <li>{{ i18n "error_bullet_2" }}</li>
            </ul>
        </main>
        <footer>
            <p>{{ i18n "error_home_link" .Site.BaseURL | safeHTML }}&nbsp;<span class="blink">_</span></p>
        </footer>
    </div>
</section>