{{ if .IsNamedParams }}
<div class="container-pdf">
    <object type="application/pdf" data="{{.Get "data" }}?#zoom=page-width&pagemode=none">
        <p>Error: PDF file cannot be displayed!</p>
    </object>
</div>
{{ else }}
<div class="container-pdf">
    <object type="application/pdf" data="{{.Get 0}}?#zoom=page-width&pagemode=none">
      <p>Error: PDF file cannot be displayed!</p>
    </object>
</div>
{{ end }}